@using ProjectDATN.Web.ViewComponents;
@model ProjectDATN.Data.ViewModels.MuahangSuccessVM 
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đơn hàng bạn của bạn</h1>
<div class="form-group">
    <table class="table">
        <tr>
            <th>Họ và tên</th>
            <th>Mã đơn hàng</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Trạng thái đơn hàng</th>
            <tr>
                <td>@Model.UserName</td>
                <td>@Model.OrderID</td>
                <td>@Model.Address</td>
                <td>@Model.PhoneNumber</td>
                <td>
                    @if(Model.OrderStatus == ProjectDATN.Data.Enums.OrderStatus.InProgress)
                    {
                        <p>Đang sử lý</p>
                    }
                    else if(Model.OrderStatus == ProjectDATN.Data.Enums.OrderStatus.Confirmed)
                    {
                        <p>Đơn hàng đang đóng gói</p>
                    }
                    else if(Model.OrderStatus == ProjectDATN.Data.Enums.OrderStatus.Shipping)
                    {
                        <p>Đơn hàng đang được vận chuyển</p>
                    }
                    else if(Model.OrderStatus == ProjectDATN.Data.Enums.OrderStatus.Success)
                    {
                        <p>Đã nhận hàng</p>
                    }
                    else
                    {
                        <p>Đơn hàng đã bị hủy</p>
                    }
                </td>
            </tr>
        
    </table>

</div>
<div class="form-group">
    <div class="form-group"> 
        <h3>Chi tiết đơn hàng</h3>
    </div>
    @await Component.InvokeAsync(typeof(ViewOrderDetailViewComponent),new {name="OrderDetail"})
</div>

